<header>
  <%= link_to (image_tag 'bird.svg', class: 'bird-header'), root_path %>
  <nav>
    <ul class='nav-links'>
      <li><%= link_to 'fake farm', root_path %></li>
      <li><%= link_to 'join', new_user_path %></li>
      <li><%= link_to 'log in', login_path %></li>
    </ul>
  </nav>
</header>
