<section class="l-container">
  <h1 class='h1'>About</h1>
  <div class="container">
    <p class="p">Fake farm is the digital playground of Dave Woodall. It is a Ruby on Rails app that houses a collection of random projects including... well nothing yet.</p>
  </div>
</section>
