<h1>Tickets</h1>
<p>This demo was a simple project I was focusing on my testing skills. Much of this focus is on backend of creating.</p>

<p>What I've learned is.</p>

<p>What I need to work on is my remote: true work. As you can see there is some flashing of the page when I update the status.</p>
