<span class='status-bar'>
  <% if ticket.started && !ticket.paused && !ticket.completed && !ticket.trashed %>
    <span class='started' >In Progress</span>
  <% end %>
  <% if ticket.paused && !ticket.blocked && !ticket.trashed %>
    <span class='paused' >Paused</span>
  <% end %>
  <% if ticket.trashed %>
    <span class='trashed' >Trashed</span>
  <% end %>
  <% if ticket.completed %>
    <span class='completed' >completed</span>
  <% end %>
  <% if ticket.blocked %>
    <span class='blocked' >Blocked</span>
  <% end %>
</span>
