<div class='l-container-center'>
  <h1>tickets</h1>
  <section class='tickets-container'>
    <% @tickets_decorator.tickets.each do |ticket| %>
    <div>
      <%= link_to ticket.title, ticket_path(ticket) %>
    </div>
    <% end %>
  </section>
  <%= link_to 'new ticket', new_ticket_path %>
</div>
