<p id="notice"><%= notice %></p>

<%#= render 'form', verse: @verse %>

<h1 class='h2'><%= @bible.reference %></h1>
<h2 class='h1'><%= @bible.text %></h2>

<p class='h2'>Find a verse by the url.</p>
<p>Example: <%= link_to "fakefarm.com/bible?verse=Genesis1:1", 'http://www.fakefarm.com/bible?verse=Genesis1:1' %></p>
