<h1>Forms</h1>
<p>I want to get better at learning about forms.</p>
<ul>
  <li>how forms work with events</li>
  <li>common form attributes</li>
  <li>how forms work with backbone</li>
  <li>how forms work with rails</li>
  <li>how to use forms when they don't look like forms</li>
</ul>
