<div class='l-container-center'>
  <h1>fake farm</h1>
  <p>The web development playground of Dave Woodall</p>
  <%= image_tag 'https://avatars1.githubusercontent.com/u/587705?v=3&u=84d305857a5faf8c8ae1c27839406df1643680bf', class: 'bird' %>
  <h2>Pet projects</h2>
  <ul>
    <li><%= link_to 'tickets', tickets_path %></li>
    <li><%= link_to 'wwwoodall', wwwoodall_path %></li>
  </ul>
</div>
