.l-container-center {
  max-width: 40em;
  width: 80%;
  margin: 0 auto;
  overflow: auto;
}

@media (min-width: $min-width) {
  .l-container-center {
    max-width: none;
    width: auto;
    margin-left: 5em;
  }
}

.l-half {
  float: left;
  width: 100%;
  padding: $double-space 0;
}

@media (min-width: $min-width) {
  .l-half {
    float: left;
    width: 46%;
    padding: $single-space $double-space;
  }
}
