// media queries;
$min-width: 500px;

// color
$dark: #aaa;
$mint: #00ffa2;
$brown: #918c5d;
$tan: #b5b18c;

// spacing
$half-space: 1%;
$single-space: 2%;
$double-space: 5%;

$line-height-1: 25px;
$line-height-2: 50px;

// font
$font-base: 12px;
$font-base-6: $font-base * 0.9;
$font-base-5: $font-base * 1.5;
$font-base-4: $font-base * 2.5;
$font-base-3: $font-base * 3;
$font-base-2: $font-base * 5;
$font-base-1: $font-base * 10;

/* Pridi: 200,300,400,500 */

  @import url('https://fonts.googleapis.com/css?family=Pridi:300');

:root {

/* FONTS */

  --serif: 'Pridi', 'Georgia', serif;

/* TYPOGRAPHY */

  --root-font-size: 1.00em;
  --font-size-h1: calc(var(--size-18) * var(--root-font-size));
  --font-size-h2: calc(var(--size-16) * var(--root-font-size));
  --font-size-h3: calc(var(--size-14) * var(--root-font-size));
  --font-size-h4: calc(var(--size-12) * var(--root-font-size));
  --font-size-h5: calc(var(--size-10) * var(--root-font-size));
  --font-size-h6: calc(var(--size-8) * var(--root-font-size));
  --font-size-p:  calc(var(--size-6) * var(--root-font-size));

/* SIZES */

  --size-root:  1.00em;
  --size-0:     0.00; --size-1:     0.25; --size-2:     0.50; --size-3:     0.75; --size-4:     1.00; --size-5:     1.25; --size-6:     1.50; --size-7:     1.75; --size-8:     2.00; --size-9:     2.25; --size-10:    2.50; --size-11:    2.75; --size-12:    3.00; --size-13:    3.25; --size-14:    3.50; --size-15:    3.75; --size-16:    4.00; --size-17:    4.25; --size-18:    4.50; --size-19:    4.75; --size-20:    5.00; --size-21:    5.25; --size-22:    5.50; --size-23:    5.75; --size-24:    6.00;


/* SPACES */

  --space-root:  1.00em;
  --space-0:     0.00; --space-1:     0.25; --space-2:     0.50; --space-3:     0.75; --space-4:     1.00; --space-5:     1.25; --space-6:     1.50; --space-7:     1.75; --space-8:     2.00; --space-9:     2.25; --space-10:    2.50; --space-11:    2.75; --space-12:    3.00; --space-16:    4.00; --space-20:    5.00; --space-24:    6.00;

/* COLORS */

  --red:      rgb(240, 89, 102);
  --orange:   rgb(240, 156, 68);
  --yellow:   rgb(232, 203, 7);
  --green:    rgb(61, 227, 129);
  --seagreen: rgb(12, 177, 113);
  --blue:     rgb(36, 208, 246);
  --purple:   rgb(168, 70, 245);
  --gray:     rgb(75, 75, 75);
  --stone:    rgb(240, 240, 244);


  --col-width: 100%;
  --col-skinny: 0.3025;
/* todo - improve the naming of columns... */
  --col-third: 0.333;
  --col-half: 0.50;
  --col-two-thirds: 0.666;
  --col-base: 100%;
  --col-1: 0.333;
}
