@import 'bourbon';
@import 'layout';
@import 'components/video_wrapper';

body, h1, h2, p, ul, li {
  margin: 0;
  padding: 0;
}

li { list-style: none; }

.hidden { 
  opacity: 0;
  visibility: none;
}


body {  // temporary
  background: #cfecf2
}
img {width: 100%;}
