@import 'variables';

.welcome-content {
  padding: $single-space;
  line-height: $line-height-1;
}

.hot-tub {
  width: 80%;
  margin: 0 auto;
  img {
    width: 100%;
  }
}

@media (min-width: $min-width) {

  .welcome-content {
    max-width: 40em;
    padding: $single-space;
    line-height: $line-height-2;
    font-size: 1.5em;
  }
}

.tagline {
  font-style: italic;
}

@media (min-width: $min-width) {
  .projects {
    text-align: right;
  }
}

.projects li {
  position: relative;
}

.projects li > .link-hover-content  {
  position: absolute;
  top: 0;
  left: 400px;
  z-index: 10;
}

.projects .link-hover-content {
  width: 700px;
  background: red;
  opacity: 0;
  height: 0;
}

.projects li:hover > .link-hover-content {
  opacity: 1;
  height: inherit;
}
