@import 'variables';

.welcome-content {
  padding: $single-space;
  line-height: $line-height-1;
}

@media (min-width: $min-width) {
  .hot-tub {
    background: url(https://d13yacurqjgara.cloudfront.net/users/137644/screenshots/1877532/hottub.png) no-repeat;
    width: 800px;
    height: 600px;
    bottom: 0px;
    left: -160px;
    z-index: -1;
    position: relative;
  }
  .welcome-content {
    max-width: 40em;
    padding: $single-space;
    line-height: $line-height-2;
    font-size: 1.5em;
  }
}

.tagline {
  font-style: italic;
}

@media (min-width: $min-width) {
  .projects {
    text-align: right;
  }
}

.projects li {
  position: relative;
}

.projects li > .link-hover-content  {
  position: absolute;
  top: 0;
  left: 400px;
  z-index: 10;
}

.projects .link-hover-content {
  width: 700px;
  background: red;
  opacity: 0;
  height: 0;
}

.projects li:hover > .link-hover-content {
  opacity: 1;
  height: inherit;
}
