body { 
  background: white;
}


#wwwoodall {

 font-family: 'Open Sans', sans-serif; 
 height: 1200px;
  
  header {
    text-align: center;
  }
  .headline {
    font-family: 'Crimson Text', serif;
    color: rgba(255,255,255,0.9);
    font-size: 36px;
    font-weight: 600;
  }
  .tagline {
    font-size: 28px;
    font-family: 'Crimson Text', serif;
    font-weight: 400;
    font-style: italic;
    color: rgba(255,255,255,0.8);
  }

  .handle-title {
    font-family: 'Crimson Text', serif;
    font-style: italic;
    font-size: 36px;
    letter-spacing: 1px;
  }

  a {
    background: rgba(255,255,255,0.25);
    transition: all 500ms;
    color: black;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    display: block;
    padding: 1em 0;
    margin: 1em 2em;
    border: 1px solid black;
    border-radius: 4px;

    &:hover {
      background: rgba(0,0,0,0.25);
      color: #aaa;
    }
  }

  @media (min-width: 960px) {
    .headline {
      font-size: 86px;
    }
    .tagline {
      font-size: 48px;
    }
		.content {
			margin: 0 auto;
			width: 90%;
		}
    .handle {
      float: left;
      margin-left: 1%;
      width: 32%;
      height: 220px;
    }
    a { 
			text-align: left;
			margin-left: 1em;
			margin-right: 1em;
			padding: 2em;
      height: 195px;
		}
  }
}


