body { 
background: white;

}


#wwwoodall {

 font-family: 'Open Sans', sans-serif; 
  
  header {
    text-align: center;
  }
  .headline {
    font-family: 'Crimson Text', serif;
    color: rgba(255,255,255,0.9);
    font-size: 36px;
    font-weight: 600;
  }
  .tagline {
    font-size: 28px;
    font-family: 'Crimson Text', serif;
    font-weight: 400;
    font-style: italic;
    color: rgba(255,255,255,0.8);
  }

  .handle-title {
    font-family: 'Crimson Text', serif;
    font-style: italic;
    font-size: 36px;
    letter-spacing: 1px;
  }

  a {
    background: rgba(255,255,255,0.25);
    transition: all 500ms;
    color: black;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    display: block;
    padding: 1em 0;
    margin: 1em 2em;
    border: 1px solid black;
    border-radius: 4px;

    &:hover {
      background: rgba(0,0,0,0.25);
      color: #aaa;
    }
  }

  @media (min-width: 960px) {
    .headline {
      font-size: 86px;
    }
    .tagline {
      font-size: 48px;
    }
		.content {
			margin: 0 auto;
			width: 90%;
		}
    .handle {
      float: left;
      margin-left: 1%;
      width: 32%;
      height: 220px;
    }
    a { 
			text-align: left;
			margin-left: 1em;
			margin-right: 1em;
			padding: 2em;
      height: 195px;
		}
  }
}


* { box-sizing: border-box; }
.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.vid-info { position: absolute; top: 0; right: 0; width: 33%; background: rgba(0,0,0,0.3); color: #fff; padding: 1rem; font-family: Avenir, Helvetica, sans-serif; }
.vid-info h1 { font-size: 2rem; font-weight: 700; margin-top: 0; line-height: 1.2; }
.vid-info a { display: block; color: #fff; text-decoration: none; background: rgba(0,0,0,0.5); transition: .6s background; border-bottom: none; margin: 1rem auto; text-align: center; }
@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
@media all and (max-width: 600px) {
.vid-info { width: 50%; padding: .5rem; }
.vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
.vid-info .acronym { display: none; }
}
