<div id='wwwoodall'>
  <header class='hero'>
    <h1 class='headline'>@wwwoodall</h1>
    <p class='tagline'>Dave Woodall's online handle.</p>
  </header>
  <section class='content'>
    <div class='handles'>
      <ul>
        <li class='handle github'><a href='#'>github</a></li>
      </ul>
    </div>
    <div class='network'>
      <h2 data-handle='title' class='handle-title'>github</h2>
      <p class='desc' data-desc='body'>this is a great day to be alive. For those of you who know github, then feel free to read how I'm going to explain it to non-developers. Github is like facebook for coders. This is where I keep public code.</p>
    </div>
  </section>
</div>




